.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# Directories
node_modules/
build/

# SvelteKit
.env
__sapper__/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and backups
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.bak
*.swp

# Dependencies
package-lock.json
yarn.lock
.pnp.*

# Other
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
.histoire